@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Quicksand", sans-serif !important;
  background-color: black;
  width: 100vw;
}

@font-face {
  font-family: "Quicksand";
  src: url("../public/static/Quicksand-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.navigation header {
  max-width: none;
}
